.list-collections {
    width: 80%;
    margin: 3rem auto;
    &__minimize {
        background: $white;
        color: $black;
        font-size: 0.9rem;
        padding: 0.25rem 0.5rem 0.15rem 0.5rem;
        border-radius: 0.3rem;
        cursor: pointer;
    }

    &__single {
        margin: 0.6rem 0;
        border-radius: 1rem;
        background: rgb(13, 13, 13);

        &-collection {
            background: rgb(33, 33, 33);
            padding: 0.8rem 2rem;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 200ms ease-in;
            &:hover {
                background: rgb(27, 27, 27);
                & .remove-collection {
                    opacity: 1;
                }
            }
            & a {
                margin: 0 1.5rem;
                padding: 0.1rem 1rem;
                border-radius: 1rem;
                user-select: none;
                text-decoration: none;
                font-size: 0.9rem;
            }

            & img {
                height: 1.7rem;
                width: 1.7rem;
                object-fit: contain;
            }
        }

        &-passwords {
            display: flex;
            justify-content: space-between;
            padding: .9rem 3rem;
            position: relative;
            &:not(.list-collections__single-passwords:first-child)::before {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                content: "";
                background: $white;
                width: 95%;
                height: 2px;
                opacity: 0.05;
            }
            &:hover .actions {
                opacity: 1;
            }
            & .readOnly {
                background: none;
                border: none;
                color: $white;
                cursor: default;
                width: 16rem;
                font-size: .9rem;
            }
            & .writeMode {
                background: $white;
                border: none;
                padding: 0 0.5rem;
            }
            & .actions {
                transition: 100ms ease-in;
                opacity: 0;
                &-edit {
                    border: 1px solid $blue;
                    color: $blue;
                    border-radius: 1rem;
                    padding: 0 1rem;
                    margin: 0.3rem;
                    transition: 200ms ease-in;
                    cursor: pointer;
                    &:hover {
                        color: $black;
                        background: $blue;
                    }
                }
                &-remove {
                    border: 1px solid $crimson;
                    color: $crimson;
                    border-radius: 1rem;
                    padding: 0 1rem;
                    margin: 0.3rem;
                    transition: 200ms ease-in;
                    cursor: pointer;
                    &:hover {
                        color: $black;
                        background: $crimson;
                    }
                }
                &-copy {
                    border: 1px solid $yellow;
                    color: $yellow;
                    border-radius: 1rem;
                    padding: 0 1rem;
                    margin: 0.3rem;
                    transition: 200ms ease-in;
                    cursor: pointer;
                    &:hover {
                        color: $black;
                        background: $yellow;
                    }
                }
            }
        }
    }
}

.remove-collection {
    background: transparent;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: 100ms ease-in;
    &:hover {
        text-decoration: underline;
    }
}

.filter {
    width: 80%;
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-input {
        position: relative;
        & input {
            border-radius: 1rem;
            padding: 0.7rem;
            border: none;
            background: #222;
            color: $white;
            text-indent: 1.7rem;
            width: 20rem;
            &::placeholder {
                color: #666;
            }
        }
        & i {
            position: absolute;
            top: 50%;
            left: 1.2rem;
            transform: translate(-50%, -50%);
            color: #666;
        }
    }

    &-button {
        button {
            background: $yellow;
            color: $black;
            padding: 0.5rem 3rem;
            font-family: "Cunia";
            border-radius: 2rem;
            font-size: 1.1rem;
            transition: 200ms ease-in;
            border: none;
            cursor: pointer;
            &:hover {
                box-shadow: 0 3px 20px 3px rgba(255, 234, 4, 0.4);
            }
        }
    }
    & .activated {
        color: $yellow;
        border: 1px solid $yellow;
        background: transparent;
        padding: 0.4rem 2rem;
        border-radius: 2rem;
        text-align: center;
        font-family: "Cunia";
        cursor: pointer;
    }
}

.no-password {
    color: #666;
    text-align: center;
    font-family: "Cunia";
    font-weight: 100;
    user-select: none;
}
