.collection {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        color: $yellow;
        font-family: "Cunia";
        font-size: 3rem;
        margin: 4rem 0;
    }

    &-flex {
        display: flex;
        width: 85%;
        justify-content: space-around;
        &__collections,
        &__passwords {
            display: flex;
            flex-direction: column;
            flex-basis: 26rem;
            border-radius: 2rem;
            box-shadow: 0 0 20px 5px rgba(238, 238, 238, .1);

            &-navigate {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                cursor: pointer;
                user-select: none;
                padding: 2rem 0;
                & i {
                    opacity: .8;
                    font-size: 1.2rem;
                }
            }

            & h2 {
                font-size: 1.2rem;
                font-family: 'Cunia';
            }

            & form {
                display: none;
                flex-direction: column;
                align-items: center;
                height: 19rem;
                overflow: hidden;

                & .form-input {
                    display: flex;
                    flex-direction: column;
                    & label {
                        font-size: .9rem;
                    }
                    & input[type=text], 
                    & input[type=password],
                    & input[type=email],
                    select {
                        border: none;
                        padding: 0.6rem;
                        font-size: .9rem;
                        background: $white;
                        margin-bottom: 0.7rem;
                        width: 20rem;
                        transition: 200ms ease-in;
                        &:focus{
                            box-shadow: 0 3px 20px 5px rgba(238, 238, 238, .3);
                        }
                    }
                    & select {
                        background: $white;
                        width: 21.3rem;
                        color: $black;
                    }
                }

                & .buttons > * {
                    margin: 0.5rem;
                }

                & input[type=submit] {
                    font-family: 'Cunia';
                    background: $white;
                    border: none;
                    padding: 0.5rem 2rem;
                    font-size: 1rem;
                    border-radius: 2rem;
                    margin-top: 1rem;
                    cursor: pointer;
                    transition: 200ms ease-in;
                    &:hover{
                        box-shadow: 0 3px 15px 2px rgba(238, 238, 238, .3);
                    }
                }
            }
        }
    }
}

.file-input {
    display: inline-block;
    position: relative;
    color: #ececec;
    margin: 1rem 0 !important;
    & input {
        display: none;
    }

    &::before {
        content: 'Choose an image';
        font-family: 'Cunia';
        background: $yellow;
        transition: box-shadow 200ms ease-in;
        color: $black;
        border-radius: 1rem;
        padding: 9px 1.4rem 7px 1.4rem;
        cursor: pointer;
    }
    &:hover::before {
        box-shadow: 0 3px 15px 2px rgba(255, 234, 4, .4);
    }
}

.add-enter{
    height: 87px;
}
.add-enter-active{
    height: calc(19rem + 87px);
    transition: 300ms ease-out 100ms;
}
.add-enter-done{
    height: calc(19rem + 87px);
}
.add-exit{
    height: calc(19rem + 87px);
}
.add-exit-active{
    height: 87px;
    transition: 300ms ease-out 100ms;
}
.add-exit-done{
    height: 87px;
}

 
.form-enter,
.form-enter-done,
.form-exit,
.form-exit-done {
    display: flex !important;
}
