.reset-form {
    display: flex;
    flex-direction: column;

    & div {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.9rem;

        & label {
            font-size: .9rem;
        }

        & input {
            padding: 0.7rem;
            border: 0;
            width: 20rem;
            font-size: 1rem;
        }
    }

    & button {
        background: $yellow;
        font-family: 'Cunia';
        border: none;
        font-size: 1rem;
        padding: .7rem;
        cursor: pointer;
        margin-top: 1rem;
        border-radius: 1.5rem;
        transition: 300ms ease;
        &:hover {
            box-shadow: 0 3px 20px 3px rgba(255, 234, 4, 0.4);
        }
    }
}