.reset-form {
    display: flex;
    flex-direction: column;

    & div {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.9rem;

        & label {
            font-size: .9rem;
        }

        & input {
            border-radius: 0 !important;
            padding: 0.8rem !important;
        }
    }

    & button {
        background: $yellow;
        font-family: 'Cunia';
        border: none;
        font-size: 1rem;
        padding: .7rem;
        cursor: pointer;
        margin-top: 1rem;
        border-radius: 1.5rem;
    }
}