@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

$yellow: #ffea04;
$crimson: #dc143c;
$blue: #1e90ff;
$black: #141414;
$white: #eeeeee;

body {
    background: $black;
    color: $white;
    font-family: "Mukta";
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .5);
    border-radius: .3rem; 
}

* {
    margin: 0;
    padding: 0;
}

*:focus{
    outline: none;
}

@import './components/_home.scss';
@import './components/_picker.scss';
@import './components/_new-collection.scss';
@import './components/_list-collections.scss';
@import './components/_email.scss';
@import './components/_modal.scss';
@import './components/_reset-password.scss';