@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
body {
  background: #141414;
  color: #eeeeee;
  font-family: "Mukta";
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: .3rem;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
}

.flex-center h1 {
  color: #ffea04;
  font-family: "Cunia";
  font-size: 4rem;
}

.flex-center p {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.flex-center .counter {
  text-align: center;
  font-family: 'Cunia';
}

.flex-center .counter span {
  color: #ffea04;
}

.flex-center form {
  position: relative;
  margin-top: 4rem;
}

.flex-center form .hide {
  border: none;
  background: #333;
  color: #eeeeee;
  font-size: 2rem;
  font-family: "Cunia";
  width: 2rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.flex-center form .hide:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(238, 238, 238, 0.3);
          box-shadow: 0 0 0 2px rgba(238, 238, 238, 0.3);
}

.flex-center form .email,
.flex-center form .keyPass {
  position: relative;
  background: #eeeeee;
  border: none;
  padding: 1rem 1.2rem;
  border-radius: 2rem;
  font-size: 1rem;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  width: 15rem;
  padding-right: 6rem;
}

.flex-center form .email:hover, .flex-center form .email:focus,
.flex-center form .keyPass:hover,
.flex-center form .keyPass:focus {
  -webkit-box-shadow: 0 7px 20px 3px rgba(238, 238, 238, 0.3);
          box-shadow: 0 7px 20px 3px rgba(238, 238, 238, 0.3);
}

.flex-center form .submit, .flex-center form .submit-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1.5%;
  background: #141414;
  color: #eeeeee;
  border: 0;
  border-radius: 50%;
  font-size: 1rem;
  width: 42px;
  height: 42px;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.flex-center form .submit:hover, .flex-center form .submit-right:hover, .flex-center form .submit:focus, .flex-center form .submit-right:focus {
  -webkit-box-shadow: 0 7px 25px 5px rgba(20, 20, 20, 0.5);
          box-shadow: 0 7px 25px 5px rgba(20, 20, 20, 0.5);
  cursor: pointer;
}

.flex-center form .submit-right {
  right: -3.5rem;
  background: #eeeeee;
  color: #141414;
}

.flex-center form .submit-right:hover, .flex-center form .submit-right:focus {
  -webkit-box-shadow: 0 3px 15px 5px rgba(200, 200, 200, 0.5);
          box-shadow: 0 3px 15px 5px rgba(200, 200, 200, 0.5);
  cursor: pointer;
}

.flex-center .logged-user {
  background: #ffea04;
  color: #141414;
  text-decoration: none;
  margin-top: 3rem;
  padding: 0.6rem 3rem;
  font-family: "Cunia";
  border-radius: 2rem;
  font-size: 1.1rem;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.flex-center .logged-user:hover, .flex-center .logged-user:focus {
  -webkit-box-shadow: 0 3px 20px 3px rgba(255, 234, 4, 0.4);
          box-shadow: 0 3px 20px 3px rgba(255, 234, 4, 0.4);
}

.flex-center .logged-user i {
  margin-left: 1rem;
}

.flex-center .recovery {
  color: #eeeeee;
  margin-top: 0.9rem;
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}

.flex-center .recovery:hover {
  text-decoration: underline;
}

.flex-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-links a, .flex-links .nav-center button, .nav-center .flex-links button {
  color: #eeeeee;
  font-size: 1.2rem;
  margin: 0 0.5rem 0.6rem 0.5rem;
}

.flex-links p {
  margin-right: 0.5rem;
}

.nav-center {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-center a, .nav-center button {
  color: #eeeeee;
  text-decoration: underline;
}

.nav-center button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.flex-around {
  width: 85%;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-around .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffea04;
  width: 350px;
  height: 260px;
  margin: 0.6rem;
  border-radius: 2rem;
  padding: 1.4rem;
  color: #141414;
  position: relative;
}

.flex-around .card h2 {
  font-size: 1.3rem;
  text-align: center;
  font-family: "Cunia";
}

.flex-around .card-img {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 120px;
  width: 200px;
}

.flex-around .card-img img {
  height: 100%;
  width: 100%;
}

.divider {
  font-family: "Cunia";
  color: #ffea04;
  font-size: 0.9rem;
  margin: 1.8rem 0;
  position: relative;
}

.divider::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 105%;
  height: 1px;
  width: 75px;
  background: #ffea04;
}

.divider::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 105%;
  height: 1px;
  width: 75px;
  background: #ffea04;
}

.loggedUsers {
  width: 25rem;
  margin: 0 auto;
  overflow-y: hidden;
  font-family: "Cunia";
}

.loggedUsers span {
  margin: 1.5rem 0 0.2rem 0;
  display: block;
  color: #ffea04;
  text-align: center;
}

.loggedUsers p {
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

.loggedUsers-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loggedUsers-flex div {
  text-align: center;
  margin: 0.3rem;
  color: #141414;
  background: #eeeeee;
  padding: 0.4rem;
  border-radius: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.loggedUsers-flex div:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 10px 3px rgba(238, 238, 238, 0.3);
          box-shadow: 0 2px 10px 3px rgba(238, 238, 238, 0.3);
}

.non-visible {
  position: absolute;
  right: 3.7rem;
  top: .8rem;
  height: 1.5rem;
  cursor: pointer;
}

.picker {
  width: 80%;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.picker-collection {
  cursor: pointer;
  background: #0f0f0f;
  margin: 1.2rem;
  height: 11rem;
  width: 11rem;
  border: 2px solid transparent;
  border-radius: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.picker-collection i {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.5rem;
}

.picker-collection img {
  height: 4.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.picker-collection p {
  text-transform: uppercase;
  margin-top: 2.5rem;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection h1 {
  color: #ffea04;
  font-family: "Cunia";
  font-size: 3rem;
  margin: 4rem 0;
}

.collection-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.collection-flex__collections, .collection-flex__passwords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 26rem;
      flex-basis: 26rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 20px 5px rgba(238, 238, 238, 0.1);
          box-shadow: 0 0 20px 5px rgba(238, 238, 238, 0.1);
}

.collection-flex__collections-navigate, .collection-flex__passwords-navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 2rem 0;
}

.collection-flex__collections-navigate i, .collection-flex__passwords-navigate i {
  opacity: .8;
  font-size: 1.2rem;
}

.collection-flex__collections h2, .collection-flex__passwords h2 {
  font-size: 1.2rem;
  font-family: 'Cunia';
}

.collection-flex__collections form, .collection-flex__passwords form {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 19rem;
  overflow: hidden;
}

.collection-flex__collections form .form-input, .collection-flex__passwords form .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection-flex__collections form .form-input label, .collection-flex__passwords form .form-input label {
  font-size: .9rem;
}

.collection-flex__collections form .form-input input[type=text],
.collection-flex__collections form .form-input input[type=password],
.collection-flex__collections form .form-input input[type=email],
.collection-flex__collections form .form-input select, .collection-flex__passwords form .form-input input[type=text],
.collection-flex__passwords form .form-input input[type=password],
.collection-flex__passwords form .form-input input[type=email],
.collection-flex__passwords form .form-input select {
  border: none;
  padding: 0.6rem;
  font-size: .9rem;
  background: #eeeeee;
  margin-bottom: 0.7rem;
  width: 20rem;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.collection-flex__collections form .form-input input[type=text]:focus,
.collection-flex__collections form .form-input input[type=password]:focus,
.collection-flex__collections form .form-input input[type=email]:focus,
.collection-flex__collections form .form-input select:focus, .collection-flex__passwords form .form-input input[type=text]:focus,
.collection-flex__passwords form .form-input input[type=password]:focus,
.collection-flex__passwords form .form-input input[type=email]:focus,
.collection-flex__passwords form .form-input select:focus {
  -webkit-box-shadow: 0 3px 20px 5px rgba(238, 238, 238, 0.3);
          box-shadow: 0 3px 20px 5px rgba(238, 238, 238, 0.3);
}

.collection-flex__collections form .form-input select, .collection-flex__passwords form .form-input select {
  background: #eeeeee;
  width: 21.3rem;
  color: #141414;
}

.collection-flex__collections form .buttons > *, .collection-flex__passwords form .buttons > * {
  margin: 0.5rem;
}

.collection-flex__collections form input[type=submit], .collection-flex__passwords form input[type=submit] {
  font-family: 'Cunia';
  background: #eeeeee;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.collection-flex__collections form input[type=submit]:hover, .collection-flex__passwords form input[type=submit]:hover {
  -webkit-box-shadow: 0 3px 15px 2px rgba(238, 238, 238, 0.3);
          box-shadow: 0 3px 15px 2px rgba(238, 238, 238, 0.3);
}

.file-input {
  display: inline-block;
  position: relative;
  color: #ececec;
  margin: 1rem 0 !important;
}

.file-input input {
  display: none;
}

.file-input::before {
  content: 'Choose an image';
  font-family: 'Cunia';
  background: #ffea04;
  -webkit-transition: -webkit-box-shadow 200ms ease-in;
  transition: -webkit-box-shadow 200ms ease-in;
  transition: box-shadow 200ms ease-in;
  transition: box-shadow 200ms ease-in, -webkit-box-shadow 200ms ease-in;
  color: #141414;
  border-radius: 1rem;
  padding: 9px 1.4rem 7px 1.4rem;
  cursor: pointer;
}

.file-input:hover::before {
  -webkit-box-shadow: 0 3px 15px 2px rgba(255, 234, 4, 0.4);
          box-shadow: 0 3px 15px 2px rgba(255, 234, 4, 0.4);
}

.coll-enter,
.pass-enter {
  height: 87px;
}

.coll-enter-active,
.pass-enter-active {
  height: calc(19rem + 87px);
  -webkit-transition: 300ms ease-out 100ms;
  transition: 300ms ease-out 100ms;
}

.coll-enter-done,
.pass-enter-done {
  height: calc(19rem + 87px);
}

.coll-exit,
.pass-exit {
  height: calc(19rem + 87px);
}

.coll-exit-active,
.pass-exit-active {
  height: 87px;
  -webkit-transition: 300ms ease-out 100ms;
  transition: 300ms ease-out 100ms;
}

.coll-exit-done,
.pass-exit-done {
  height: 87px;
}

.form-enter,
.form-enter-done,
.form-exit,
.form-exit-done {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.list-collections {
  width: 80%;
  margin: 3rem auto;
}

.list-collections__minimize {
  background: #eeeeee;
  color: #141414;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem 0.15rem 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.list-collections__single {
  margin: 0.6rem 0;
  border-radius: 1rem;
  background: #0d0d0d;
}

.list-collections__single-collection {
  background: #212121;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.list-collections__single-collection:hover {
  background: #1b1b1b;
}

.list-collections__single-collection:hover .remove-collection {
  opacity: 1;
}

.list-collections__single-collection a, .list-collections__single-collection .nav-center button, .nav-center .list-collections__single-collection button {
  margin: 0 1.5rem;
  padding: 0.1rem 1rem;
  border-radius: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  font-size: 0.9rem;
}

.list-collections__single-collection img {
  height: 1.9rem;
  width: 1.9rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.list-collections__single-passwords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .9rem 3rem;
  position: relative;
}

.list-collections__single-passwords:not(.list-collections__single-passwords:first-child)::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  background: #eeeeee;
  width: 95%;
  height: 2px;
  opacity: 0.05;
}

.list-collections__single-passwords:hover .actions {
  opacity: 1;
}

.list-collections__single-passwords .readOnly {
  background: none;
  border: none;
  color: #eeeeee;
  cursor: default;
  width: 16rem;
  font-size: .9rem;
}

.list-collections__single-passwords .writeMode {
  background: #eeeeee;
  border: none;
  padding: 0 0.5rem;
}

.list-collections__single-passwords .actions {
  -webkit-transition: 100ms ease-in;
  transition: 100ms ease-in;
  opacity: 0;
}

.list-collections__single-passwords .actions-edit {
  border: 1px solid #1e90ff;
  color: #1e90ff;
  border-radius: 1rem;
  padding: 0 1rem;
  margin: 0.3rem;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  cursor: pointer;
}

.list-collections__single-passwords .actions-edit:hover {
  color: #141414;
  background: #1e90ff;
}

.list-collections__single-passwords .actions-remove {
  border: 1px solid #dc143c;
  color: #dc143c;
  border-radius: 1rem;
  padding: 0 1rem;
  margin: 0.3rem;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  cursor: pointer;
}

.list-collections__single-passwords .actions-remove:hover {
  color: #141414;
  background: #dc143c;
}

.list-collections__single-passwords .actions-copy {
  border: 1px solid #ffea04;
  color: #ffea04;
  border-radius: 1rem;
  padding: 0 1rem;
  margin: 0.3rem;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  cursor: pointer;
}

.list-collections__single-passwords .actions-copy:hover {
  color: #141414;
  background: #ffea04;
}

.remove-collection {
  background: transparent;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 100ms ease-in;
  transition: 100ms ease-in;
}

.remove-collection:hover {
  text-decoration: underline;
}

.filter {
  width: 80%;
  margin: 2.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-input {
  position: relative;
}

.filter-input input {
  border-radius: 1rem;
  padding: 0.7rem;
  border: none;
  background: #222;
  color: #eeeeee;
  text-indent: 1.7rem;
  width: 20rem;
}

.filter-input input::-webkit-input-placeholder {
  color: #666;
}

.filter-input input:-ms-input-placeholder {
  color: #666;
}

.filter-input input::-ms-input-placeholder {
  color: #666;
}

.filter-input input::placeholder {
  color: #666;
}

.filter-input i {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #666;
}

.filter-button button {
  background: #ffea04;
  color: #141414;
  padding: 0.5rem 3rem;
  font-family: "Cunia";
  border-radius: 2rem;
  font-size: 1.1rem;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  border: none;
  cursor: pointer;
}

.filter-button button:hover {
  -webkit-box-shadow: 0 3px 20px 3px rgba(255, 234, 4, 0.4);
          box-shadow: 0 3px 20px 3px rgba(255, 234, 4, 0.4);
}

.filter .activated {
  color: #ffea04;
  border: 1px solid #ffea04;
  background: transparent;
  padding: 0.4rem 2rem;
  border-radius: 2rem;
  text-align: center;
  font-family: "Cunia";
  cursor: pointer;
}

.no-password {
  color: #666;
  text-align: center;
  font-family: "Cunia";
  font-weight: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
}

.center .black-card {
  background: #ffea04;
  width: 35rem;
}

.center .black-card-header {
  color: #141414;
  font-family: 'Cunia';
  background: #ffea04;
  padding: 1rem 1.5rem;
}

.center .black-card-content {
  background: #eeeeee;
  padding: 1.5rem;
  color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center .black-card-content a, .center .black-card-content .nav-center button, .nav-center .center .black-card-content button {
  font-family: "Cunia";
  text-decoration: none;
  color: #141414;
  background: #ffea04;
  margin: 1rem auto;
  padding: 0.4rem 2rem;
  border-radius: 1rem;
  text-align: center;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  -webkit-box-shadow: 0 3px 3px 2px rgba(20, 20, 20, 0.5);
          box-shadow: 0 3px 3px 2px rgba(20, 20, 20, 0.5);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #141414;
  opacity: 0.8;
  z-index: 10;
}

.modal {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #141414;
  padding: 2rem;
  color: #eeeeee;
  -webkit-box-shadow: 0 5px 20px 1px rgba(240, 240, 240, 0.2);
          box-shadow: 0 5px 20px 1px rgba(240, 240, 240, 0.2);
}

.modal span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.modal h2 {
  margin-right: auto;
}

.reset-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reset-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.9rem;
}

.reset-form div label {
  font-size: .9rem;
}

.reset-form div input {
  padding: 0.8rem;
  border: 0;
  width: 20rem;
  font-size: 1rem;
}

.reset-form button {
  background: #ffea04;
  font-family: 'Cunia';
  border: none;
  font-size: 1rem;
  padding: .7rem;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 1.5rem;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.reset-form button:hover {
  -webkit-box-shadow: 0 3px 20px 3px rgba(255, 234, 4, 0.4);
          box-shadow: 0 3px 20px 3px rgba(255, 234, 4, 0.4);
}
/*# sourceMappingURL=style.css.map */