@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

$yellow: #ffea04;
$black: #141414;
$white: #eeeeee;

body {
    background: $black;
    color: $white;
    font-family: "Mukta";
}

* {
    margin: 0;
    padding: 0;
}

*:focus{
    outline: none;
}

@import './components/_home.scss';
@import './components/_collection.scss';
@import './components/_list-collections.scss';