<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover your keyPass</title>
</head>

<body>
    <div style="width: 100%; margin: 2rem auto;">
        <div style="background: #ffea04; width: 35rem;">
            <div style="color: #141414; font-family: 'Cunia'; background: #ffea04;">
                <h2 style="margin: 0; padding: 1.2rem;">Recover your keyPass</h2>
            </div>
            <div style="margin: 0; background: #eeeeee; padding: 1rem; color: #141414; display: block;">
                <p style="margin: 0; margin-bottom: 1.5rem; font-family: 'Mukta'; font-size: 1rem">Click on the link below to proceed with reseting your keyPass, or password.</p>
                <a href="{{ URL }}" style="font-family: 'Cunia'; text-decoration: none; color: #141414; background: #ffea04; margin: 1rem auto; padding: 0.4rem 2rem; border-radius: 1rem; text-align: center;">Recover keyPass</a>
                <br/>
                <br/>
                <small style="color: #777777; font-family: 'Mukta'">Password Collector</small>
            </div>
        </div>
    </div>
</body>
</html>